{% extends 'birthday_notifier/base.html' %}

{% block title %} <title>Home</title>{% endblock title %}

{%block content %}

<div class="container">
    {% if user.is_authenticated %}
    <h3 class="pt-3">Hi {{ user.user_name.title }}</h3>
    <h2 class="text-center pb-3">Events</h2>
    <div class="events-grid">
        {% for obj in object_list %}
            <div class="event">
                <a href={{obj.get_absolute_url}} class="text-decoration-none text-black">{{obj.celebrant}}</a>
            </div>
        {% endfor %}
    </div>
        

        {% else %}
        <p class="text-center">You are not logged in.</p>
        <p class="text-center">Login to see your events.</p>

    {% endif %}
</div>


{%endblock%}